APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your-project-id
APPWRITE_API_KEY=your-api-key
APPWRITE_SELF_SIGNED=false
APPWRITE_SAMPLE_FILE=resources/sample-upload.txt
APPWRITE_FUNCTION_SOURCE_DIR=resources/functions/hello-node
